@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');
:root {
  --primary-color: #000000;
  --primary-bg: #F0E4E2;

  --secondary-color: #C0F205;
  --border: 1px solid var(--primary-color);

  --third-bg: #F21A05;
}

body {
  background-color: var(--primary-bg);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  cursor: pointer;
  background: transparent;
  /* border: none; */
  padding: 0;
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

/* .margins{
  margin: 0 .3rem;
} */


.action-btn{
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 900;
  color: var(--primary-color);
  border: 5px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.action-btn:hover{

}

.black-arrow{
  /* padding: .3rem; */
  width: 40px;
}

.black-arrow-detail {
  fill: none;
  stroke: var(--primary-color);
  stroke-miterlimit: 10;
}
